html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
    color: white;
}


.home-button-link {
    width: 8vh;
}

.home-button {
    width: 80%;
    border-radius: 10px;
    padding: 5px;
}

header {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 2;

    background-color: #001f92;
    
    color: #fff;
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header div h1, h2 {
    padding: 0 15px;
    text-align: center;
}

.main-section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section-middle {
    margin: 3vw;

    height: 75%;
    width: 85%;
    max-width: 1000px;

    display: flex;
    justify-content: center;
}

.left {
    width: 50%;
    height: 100%;
    background-color: #222222;
    border-radius: 20px 0px 0px 20px;
    
}
.left h1 { /* Privacy policy header*/
    font-size: 34px;
    font-weight: 600;
    margin: 20px 20px;
}
.left p {
    font-size: 20px;
    margin: 30px 20px;
    font-weight: 300;
}
/*
.image {
    width: 50%;
    height: 100%;
    background-color: #467;
}
*/

.image {
    height: 100%;
    width: 400px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #222230;
    border-radius: 0px 20px 20px 0px;
}

img {
    max-height: 50%;
    border-radius: 20px;
}

@media (max-width: 940px) {
    .image {
        display: none;
    }
    .left {
        width: 100%;
        border-radius: 20px;
    }
}

header a:link {
    color: white;
    text-decoration: none;
}

header a:visited {
    color: white;
    text-decoration: none;
}
header a:hover {
    color: #bbb;
    text-decoration: none;
}

header a:active {
    color: #999;
    text-decoration: none;
}

footer {
    width: 100%;
    height: auto;
    background-color: black;
    text-align: center;
    padding: 10px;
}