html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.home-button-link {
    width: 8vh;
}

.home-button {
    width: 80%;
    border-radius: 10px;
    padding: 5px;
}

.main-section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section-middle {

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
}

.left {
    display: flex;
    flex-direction: column;

    justify-content: center; /* Center horizontally */

    width: 50%;
    height: 100%;
    background-color: #222222;
}

.left h1 { 
    font-size: 80px;
    font-weight: 600;
    margin: 20px 20px;
}
.left p {
    font-size: 30px;
    margin: 30px 20px;
    font-weight: 300;
}

.app-store-button img {
    margin: 0px 20px;

    width: 150px;
    transition: transform 0.2s;
}


@media (max-width: 400px){
    .left h1 {
        font-size: 24px;
    }
    .left p {
        font-size: 16px;
    }
}


/*
@media (max-width: 940px) {
    .image {
        display: none;
    }
    .left {
        width: 100%;
        border-radius: 20px;
    }
}
*/