html, body {
    width: 100%;
    height: auto;
    margin: 0;
    background-color: #222;
    font-family: 'Montserrat', sans-serif;

}
/*
@media (max-width: 1417px) {
    html, body {
        height: calc(200vh + 1975px);
    }
}

@media (min-width: 1418px) {
    html, body {
        height: calc(200vh + 1350px);
    }
}
*/

.home-button-link {
    width: 8vh;
}

.home-button {
    width: 80%;
    border-radius: 10px;
    padding: 5px;
}

header {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: fixed;
    z-index: 2;

    background-color: #001f92;
    
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header div h1, h2 {
    padding: 0 15px;
    text-align: center;
}

.title-and-description {
    height: 50%;
    width: 100%;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    display: flex;
    flex-direction: column;
    padding: 8px;

    justify-content: center;
    align-items: center;

    font-family: 'Montserrat', sans-serif;

}

.title-and-description h1, h3 {
    color: white;
}
.title-and-description h1 {
    font-size: 100px;
}
.title-and-description h3 {
    font-size: 60px;
}

.digits-display-div {
    height: 50%;
    width: 100%;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.digits-display-div p {
    margin: 0
}

.feedback {
    display: flex;
    
    font-family: Menlo, monospace;
    color: #444;
    font-size: 140px;
}
.user-entry {
    font-family: Menlo, monospace;
    color: #444;
    display: flex ;
    font-size: 140px;
}

.top-div {
    height: 100vh;
    width: 100%;
}
.how-to-div {
    height: 100vh;
    width: 100%;
    background-color: red;
}

.about-div {
    height: 100vh;
    width: 100%;
    background-color: green;
}


a:link {
    color: white;
    text-decoration: none;
}
  
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #bbb;
    text-decoration: none;
}

a:active {
    color: #999;
    text-decoration: none;
}

footer {
    width: 100%;
    height: auto;
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
}