header {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: fixed;
    z-index: 2;

    background-color: #001f92;
    
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header div h1, h2 {
    padding: 0 10px;
    text-align: center;
}
@media (max-width: 450px){
    header div h1, h2 {
        font-size: 18px;
    }
}

/* LINKS */
header a:link {
    color: white;
    text-decoration: none;
}
  
header a:visited {
    color: white;
    text-decoration: none;
}
header a:hover {
    color: #bbb;
    text-decoration: none;
}

header a:active {
    color: #999;
    text-decoration: none;
}

footer {
    width: 100%;
    height: auto;
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
}
@media (max-width: 400px){
    footer {
        font-size: 12px;
    }
}