html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
/*
@media (max-width: 1417px) {
    html, body {
        height: calc(200vh + 1975px);
    }
}

@media (min-width: 1418px) {
    html, body {
        height: calc(200vh + 1350px);
    }
}
*/

header {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 2;

    background-color: #1031c4;
    
    color: #fff;
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header div h1, h2 {
    padding: 0 15px;
    text-align: center;
}

.main-section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section-middle {
    margin: 100px;

    height: 75%;
    width: 75%;

    display: flex;
    justify-content: center;
}

.left {
    width: 50%;
    height: 100%;
    background-color: #222;
    padding: 15px;
}
.left h1 { /* Privacy policy header*/
    font-size: 34px;
    font-weight: 600;
    margin: 10px 0px;
}
.left p {
    font-size: 20px;
}

.image {
    width: 50%;
    height: 100%;
    background-color: #467;
}

a:link {
    color: white;
    text-decoration: none;
}
  
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #bbb;
    text-decoration: none;
}

a:active {
    color: #999;
    text-decoration: none;
}